/* Breakpoints reference
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

  --sm: 36rem;
  --md: 48rem;
  --lg: 62rem;
  --xl: 75rem;
  --xxl: 87.5rem;

*/

.mel-container {
  position: relative;
  display: grid;
  grid-template-columns: var(--gap) 1fr minmax(var(--min), var(--lg)) 1fr var(
      --gap
    );
  margin-bottom: var(--space-after);
}

.mel-container.post {
  grid-template-columns: var(--gap) 1fr 1fr minmax(var(--min), calc(var(--lg))) 1fr 1fr var(
      --gap
    );
  grid-auto-flow: column;
}

@media (min-width: 768px) {
  .mel-container.post {
    grid-template-columns:
      var(--gap) 1fr 3rem minmax(var(--min), calc(var(--lg) - 6rem))
      3rem 1fr var(--gap);
    grid-auto-flow: column;
  }
}

.mel-container.mel-post__header {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .mel-container.mel-post__header {
    grid-template-columns:
      var(--gap) 1fr minmax(var(--min), calc(var(--lg) * 0.5)) minmax(
        auto,
        calc(var(--lg) * 0.5)
      )
      1fr var(--gap);
  }
}

@media (min-width: 992px) {
  .mel-container.mel-post__header {
    grid-template-columns:
      var(--gap) 1fr minmax(var(--min), calc(var(--lg) * 0.6)) minmax(
        auto,
        calc(var(--lg) * 0.4)
      )
      1fr var(--gap);
  }
}

.mel-container__inner {
  grid-column: 3 / 4;
}

.mel-post__item {
  display: grid;
  padding: 0 1rem;
  grid-column: 4 / 5;
  grid-template-columns: 2fr 1fr minmax(var(--min), var(--content)) 1fr 2fr;
}

.mel-post__item > * {
  grid-column: 3 / 4;
}
