/* Breakpoints reference
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
*/

.container,
.container--post,
.container--header {
  padding: 1rem;
  margin-bottom: var(--space-after);
}

.post__item {
  max-width: 600px;
  margin: 0 auto;
  justify-self: center;
}

@media (min-width: 808px) {
  .container {
    display: grid;
    padding: 0;
    grid-template-columns: 20px 1fr var(--md) 1fr 20px;
  }

  .container__inner {
    grid-column: 3 / 4;
  }

  .container--post {
    display: grid;
    grid-template-columns:
      20px 1fr calc((var(--md) - 720px) / 2) 720px calc((var(--md) - 720px) / 2)
      1fr 1rem;
  }

  .container--header {
    display: grid;
    grid-template-columns:
      20px 1fr calc(var(--md) * 0.6) calc(var(--md) * 0.4)
      1fr 20px;
    margin-bottom: 1rem;
  }

  .post__item {
    display: grid;
    max-width: initial;
    margin: 2rem 0 0;
    grid-column: 4 / 5;
    grid-template-columns: 40px 20px 600px 20px 40px;
  }

  .post__item > * {
    grid-column: 3 / 4;
  }
}

@media (min-width: calc(1032px)) {
  .container {
    grid-template-columns: 20px 1fr var(--lg) 1fr 20px;
  }

  .container__inner {
    grid-column: 3 / 4;
  }

  .container--post {
    grid-template-columns:
      20px 1fr calc((var(--lg) - 720px) / 2) 720px calc((var(--lg) - 720px) / 2)
      1fr 1rem;
  }

  .container--header {
    display: grid;
    grid-template-columns:
      20px 1fr calc(var(--lg) * 0.6) calc(var(--lg) * 0.4)
      1fr 20px;
    margin-bottom: 1rem;
  }

  .post__item {
    grid-column: 4 / 5;
    display: grid;
    grid-template-columns: 40px 20px 600px 20px 40px;
    margin-top: 2rem;
  }
}
