html {
  font-family: var(--f-family);
  font-size: 1rem;
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.8392857142857143rem + 0.4464285714285714vw,
    1.375rem
  );
  line-height: 1.6;
  color: var(--text);
  background-color: var(--surface);
}

body {
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 3.28rem);
}

img {
  border-radius: var(--radius-small);
}
