<article aria-label="{{title}}" class="mel-card">
    <a class="mel-card__link" href="{{url}}"></a>
    <div class="mel-card__bg-container">
        <img class="mel-card__bg" src="{{feature_image}}">
    </div>
    <h3 class="mel-card__title">{{title}}</h3>
</article>