<div class="container">
{{#post}}
<section class="cta container__inner">
    <p class="cta__title">Hiya, Buddy <span class="font-weight-normal">🌭</span></p>
    <p>Did you like <em>{{title}}</em>? Be the first to hear about other posts about {{primary_tag.name}} and my other writing. ng up. It's easy, free, and you'd be stupid not to.</p>
</section>
{{/post}}
</div>