<div class="mel-container">
{{#post}}
<section class="mel-cta mel-container__inner">
    <p class="mel-cta__title">Hiya, Buddy <span class="mel-font-weight-normal">🌭</span></p>
    <p>Did you like <em>{{title}}</em>? Be the first to hear about other posts about {{primary_tag.name}} and my other writing. ng up. It's easy, free, and you'd be stupid not to.</p>
</section>
{{/post}}
</div>