<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Newer Posts</a>
    {{/if}}
 
    {{#if next}}
        <a class="btn btn--outline" href="{{page_url next}}">More Posts &rarr;</a>
    {{/if}}
</nav>