{{!< default}}

{{> "hero"}}

<header class="mel-header">
    <h2>What&apos;s On Special</h2>
    <div class="mel-header__line"></div>
</header>

{{#get "posts" filter="featured:true" as |featured|}}
    {{#if featured}}
        <div class="mel-container mel-cards">
            <div class="mel-card__container">
                {{#foreach featured}}
                    {{> "card"}}
                {{/foreach}}
            </div>
        </div>
    {{/if}}
{{/get}}

<header class="mel-header">
    <h2>What&apos;s Fresh</h2>
    <div class="mel-header__line"></div>
</header>

<div class="mel-container">
    <div class="mel-container__inner">
        {{#foreach posts}}
            {{^if featured}}
                {{> "list"}}
            {{/if}}
        {{/foreach}}
        {{pagination}}
    </div>
</div>
