{{!< default}}

<div class="container__inner">
    <div class="hero">
        <div class="hero__left">
            <h1 class="hero__title">{{@site.title}}</h1>
            <p class="hero__description">
                {{@site.description}}
            </p>
        </div>
        <div class="hero__right">

        </div>
    </div>
</div>
