.footer .container__inner {
  margin-bottom: 0;
}

.footer__grid {
  display: flex;
  align-items: center;
  font-size: var(--small);
  font-weight: 100;
  color: var(--text-light);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: space-between;
}

.footer__grid--center {
}

.footer__power {
  margin-right: 0.25em;
}

.footer__grid--right > a:not(:last-child) {
  margin-right: 0.25em;
}

.footer__grid svg {
  height: 1em;
  width: 1em;
}
