.mel-footer {
  margin-top: auto;
  margin-bottom: 1rem;
}

.mel-footer__grid {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: var(--small);
  font-weight: 300;
  color: var(--text-light);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.mel-footer__grid--right {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.mel-footer__grid svg {
  width: 1em;
  height: 1em;
  fill: var(--text);
}

.mel-footer__grid--right a:not(.mel-footer__powered) {
  line-height: 0;
}
