.mel-hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  gap: 1rem;
  align-items: center;
}

.mel-hero__title {
  text-transform: uppercase;
}

.mel-hero__description {
  margin: 1rem 0;
  font-size: var(--h6);
  color: var(--text-light);
}

.mel-hero__img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  object-fit: cover;
}

/* Author */
.mel-author__location {
  margin-top: 0;
}

.mel-author__location svg {
  width: 1em;
  height: 1em;
  margin: 0 0.15em;
  transform: translateY(0.15em);
  fill: var(--pink);
}

.mel-hero__social-media {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.mel-hero__social-media-link svg,
.mel-author__image {
  width: 2rem;
  height: 2rem;
  line-height: 0;
  fill: var(--mid);
}

.mel-hero__social-media-link:hover svg {
  fill: var(--mid-dark);
}
