.mel-hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}

.mel-hero__title {
  text-transform: uppercase;
}

.mel-hero__description {
  margin: 1rem 0;
  font-size: var(--h6);
  color: var(--text-light);
}

.mel-hero__description:last-of-type {
  margin-bottom: var(--space-after);
}

.mel-hero__right {
  /* z-index: -1; */
}

.mel-hero__img {
  /* width: 125%; */
  width: 100%;
  height: auto;
  max-width: 21.875rem;
  margin: 0 auto;
  display: block;

  /* transform: translateX(-25%); */
}
