.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.navbar__left {
  flex-shrink: 0;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 0.25rem;
}

/* Ghost navigation styles */
.nav {
  display: inline-flex;
  font-size: var(--small);
  font-weight: 100;
  color: var(--text-dark);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  list-style-type: none;
  transition: color var(--transition);
}

.nav li {
  margin-right: 1rem;
}

.nav a:hover {
  color: var(--blue);
}

.navbar .btn {
  font-size: var(--small);
}
