.btn {
  padding: 0.15em 1em;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  border: 1px solid;
  border-radius: var(--radius);
}

.btn--solid {
  color: var(--base-50);
  background-color: var(--base-900);
  border-color: var(--base-900);
  transition: background-color var(--transition), border-color var(--transition);
}

.btn--solid:hover {
  background-color: var(--base-700);
  border-color: var(--base-700);
}
.btn-outline {
  transition: color var(--transition);
}

.btn--outline:hover {
  color: var(--base-50);
  background-color: var(--base-900);
  border-color: var(--base-90);
}
