.mel-btn {
  padding: 0.15em 1em;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: currentColor;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
  border: 1px solid;
  border-radius: var(--radius);
}

.mel-btn--solid,
.mel-btn--solid:visited {
  color: var(--surface);
  background-color: var(--blue);
  border-color: var(--blue);
  transition: background-color var(--transition), border-color var(--transition),
    fill var(--transition);
}

.mel-btn--solid:hover {
  color: var(--surface-light);
  background-color: var(--blue-light);
  border-color: var(--blue-light);
  fill: var(--surface-light);
}

.mel-btn-outline {
  transition: color var(--transition);
}

.mel-btn--outline:hover {
  color: var(--blue);
  border-color: var(--blue);
  fill: var(--blue);
}
