.card__container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: minmax(250px, 18.75rem);
}

@media (min-width: 768px) {
  .card__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22rem;
  padding: 1rem;
  border: 1px solid var(--mid-light);
  transition: background-color var(--transition);
  border-radius: var(--radius-small);
}

.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  box-shadow: var(--shadow-on-home);
  opacity: 0;
  transition: opacity var(--transition);
}

.card:hover {
  cursor: pointer;
  background-color: var(--surface-light);
}

.card:hover::after {
  opacity: 1;
}

.card:hover .card__title::after {
  opacity: 1;
  transform: scale(1.5);
}

.card__title::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: linear-gradient(45deg, var(--blue), var(--pink));
  opacity: 0;
  transition: opacity var(--transition), transform var(--transition);
  mix-blend-mode: lighten;
}

@media (prefers-color-scheme: dark) {
  .card__title::after {
    mix-blend-mode: darken;
  }
}

.card__bg {
  width: 100%;
  height: 45%;
  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  .card__bg {
    filter: brightness(0.8);
  }
}

.card__title {
  position: relative;
  display: box;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
