.input__container {
  display: inline-flex;
  width: 100%;
}

input,
.input,
input + .btn {
  padding: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.2;
  color: inherit;
  background-color: var(--surface);
  border: 1px solid var(--mid);
  border-radius: var(--radius);
}

input,
.input {
  flex-grow: 1;
  padding-right: 2rem;
}

input:focus-visible {
  border-color: var(--blue);
  outline: none;
}

input:focus-visible + .btn {
  border-color: var(--blue);
}

input + .btn {
  display: inline-block;
  flex-grow: 0;
  /* background-color: var(--mid); */
  transform: translateX(-2rem);
  /* color: var(--surface); */
}

.input__container .loader,
.input__container .success {
  display: none;
}

.loading .default,
.success .default,
.success .loader {
  display: none;
}

.success .success {
  display: inline-flex;
  align-items: center;
}

.loading .loader {
  display: initial;
}

.loader > svg {
  width: 3em;
  height: 0.8em;
}

.success > svg {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
