.mel-input__container {
  display: flex;

  flex-direction: column;
  width: 100%;
  max-width: 30ch;
}

input,
.mel-input {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  padding: 0.5rem;
  font-family: inherit;
  font-size: var(--small);
  line-height: inherit;
  color: inherit;
  background-color: var(--surface);
  border: 1px solid var(--mid);
  border-radius: var(--radius);
  caret-color: var(--blue);
}

label {
  margin-left: 0.5rem;
  font-size: var(--small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

input:focus-visible,
input + .mel-btn:focus-visible {
  border-color: var(--blue);
  outline: none;
}

input + .mel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
  font-size: var(--small);
  line-height: 1.6;
}

input + .mel-btn span {
  display: inline-flex;
  align-items: center;
  line-height: inherit;
}

input + .mel-btn svg {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  fill: currentColor;
  stroke-width: 2;
}

.mel-input__container .mel-loader,
.mel-input__container .mel-success,
.mel-input__container .mel-error {
  display: none;
}

.loading .mel-default,
.success .mel-default,
.error .mel-default,
.success .mel-loader {
  display: none;
}

.loading .mel-loader,
.success .mel-success,
.error .mel-error {
  display: inline-flex;
  align-items: center;
}

.mel-loader > svg {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
