.mel-input__container {
  display: inline-flex;
  width: 100%;
}

input,
.mel-input,
input + .mel-btn {
  padding: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.2;
  color: inherit;
  background-color: var(--surface);
  border: 1px solid var(--mid);
  border-radius: var(--radius);
}

input,
.mel-input {
  flex-grow: 1;
  padding-right: 2rem;
}

input:focus-visible,
input + .mel-btn:focus-visible {
  border-color: var(--blue);
  outline: none;
}

input + .mel-btn {
  display: inline-flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  /* color: var(--surface); */
  width: 8rem;
  /* background-color: var(--mid); */
  transform: translateX(-2rem);
}

.mel-input__container .mel-btn svg {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  fill: currentColor;
  stroke-width: 2;
}

.mel-input__container .mel-default {
  display: inline-flex;
  align-items: center;
  line-height: 0;
}

.mel-input__container .mel-loader,
.mel-input__container .mel-success,
.mel-input__container .mel-error {
  display: none;
}

.loading .mel-default,
.success .mel-default,
.error .mel-default,
.success .mel-loader {
  display: none;
}

.loading .mel-loader,
.success .mel-success,
.error .mel-error {
  display: inline-flex;
  align-items: center;
  line-height: 0;
}

.mel-loader > svg {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
