.mel-list__container {
  position: relative;
  display: grid;
  padding: 1rem 0;
  transition: all var(--transition);
  gap: 1rem;
  /* align-items: center; */
  grid-template-columns: max-content 1fr max-content;
}

.mel-list__container:not(:first-child) {
  border-top: 1px solid var(--mid-light);
}

.mel-list__container:last-of-type {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--mid-light);
}

.mel-list__container:hover {
  /* padding: 1rem; */
  background-color: var(--surface-light);
  border-color: transparent;
  border-radius: var(--radius-small);
  /* border-radius: var(--radius-small); */
}

.mel-list__container::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  box-shadow: var(--shadow-on-surface);
  opacity: 0;
  transition: opacity var(--transition);
}

.mel-list__container:hover::after {
  opacity: 1;
}

.mel-list__container:hover .mel-list__date {
  transform: translateX(1rem);
}

.mel-list__container:hover .mel-list__read-time {
  transform: translateX(-1rem);
}
.mel-list__container:hover + .mel-list__container {
  border-color: transparent;
}

.mel-list__date {
  padding-right: 2rem;
  font-size: var(--small);
  font-weight: 300;
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  transition: transform var(--transition);
}

.mel-list__title {
  padding-right: 2rem;
  overflow: hidden;
  font-size: 1rem;
}

.mel-list__read-time {
  font-size: var(--small);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  transition: transform var(--transition);
}
