.mel-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}

.mel-pagination__link--newer,
.mel-pagination__link--older {
  display: inline-flex;
  align-items: center;
}
