.mel-cta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--gap);
  background-color: var(--surface-dark);
  border-radius: var(--radius-small);
  gap: 2rem;
}

.mel-cta > div {
  flex: 1;
  min-width: 290px;
}

.mel-cta__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.mel-cta p {
  margin-bottom: 1rem;
}

.mel-cta a {
  text-decoration: underline;
  text-transform: lowercase;
}

.mel-cta img {
  width: 100%;
  max-width: 400px;
  height: auto;
  aspect-ratio: 1 / 1;
}
