/* Post Header */
.mel-post__header-banner {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 10rem;
  background: var(--mid-light);
  opacity: 0.5;
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.mel-post__header-left {
  grid-column: 3 / 4;
  grid-row: 1 / -1;

  margin-top: 2rem;
}

.mel-post__header-right {
  grid-column: 3 / 4;
}

@media (min-width: 768px) {
  .mel-post__header-left {
    max-width: 80%;
  }

  .mel-post__header-right {
    grid-column: 4 / -1;
    margin-top: 1rem;
  }
}

/* Post author */
.mel-post__author--container {
  grid-column: 3 / 5;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.mel-post__header-banner::before,
.mel-post__header-banner::after {
  position: absolute;
  top: 0;
  width: 1rem;
  height: 100%;
  content: '';
  background-color: inherit;
}

.mel-post__header-banner::before {
  left: -1rem;
}

.mel-post__header-banner::after {
  right: -1rem;
}

.mel-post__title {
  max-width: 70ch;
  margin-bottom: 2rem;
  font-weight: 700;
}

.mel-post__excerpt {
  max-width: 70ch;
  margin-bottom: 2rem;
  font-size: 105%;
  color: var(--text-light);
}

.mel-post__feature-image {
  width: 100%;
  max-width: 100%;
  height: 20rem;
  margin: 2rem 0;
  box-shadow: var(--shadow-on-surface);
  object-fit: cover;
}

@media (min-width: 768px) {
  .mel-post__feature-image {
    max-width: var(--sm);
  }
}

.mel-post__author {
  display: flex;
  align-items: center;
}

.mel-post__author--image {
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem;
  border: 3px solid var(--mid-light);
  border-radius: 50%;
  object-fit: cover;
}

.mel-post__author--name {
  font-size: 105%;
}

.mel-post__date {
  font-size: var(--small);
  font-weight: 100;
  text-transform: uppercase;
}

.mel-post__author--divider {
  flex: 1;
  height: 3px;
  background-image: linear-gradient(to right, transparent, var(--mid-light));
  border-radius: var(--small-radius);
}

.mel-share {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  height: min-content;
  margin: 3rem 0 0;
  gap: 1rem;
  grid-column: 4/5;
}

@media (min-width: 992px) {
  .mel-share {
    position: sticky;
    top: calc(50% - 7.625rem);
    flex-direction: column;
    margin: 0;
    grid-column: 3 / 4;
  }
}

.mel-share__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  line-height: 1;
  background-color: var(--mid-light);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.mel-share__link:hover {
  color: var(--surface);
  background-color: var(--mid-dark);
}

.mel-share__link svg {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  color: inherit;
  transition: fill var(--transition);
  fill: var(--text);
}

.mel-share__link:hover svg {
  fill: var(--surface);
}
.mel-copied {
  display: none;
}

.mel-copied-success .mel-copied {
  display: initial;
}

.mel-copied-success .mel-not-copied {
  display: none;
}

.mel-up-button {
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--transition);
}

.mel-show-up-button {
  pointer-events: all;
  opacity: 1;
}

/* Toc */

.mel-toc__content summary {
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.mel-toc__content p {
  margin-bottom: 0.5rem;
  font-size: var(--small);
  line-height: 1.2;
}

.mel-toc__content p:first-child {
  font-size: 1.2rem;
}

.mel-toc__content p:last-child {
  margin-bottom: 0;
}

.toc-h3 {
  padding-left: 1rem;
}

.toc-h4 {
  padding-left: 2rem;
}

.toc-h5 {
  padding-left: 3rem;
}

/* Post Content */
.mel-post__item > *:not(:last-child) {
  margin-bottom: 1rem;
}
