.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin: 1em 0 0.5em;
  font-weight: 700;
}

figcaption {
  font-size: var(--small);
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-top: 3px;
}

.post ul,
.post ol {
  margin-left: 1rem;
  list-style-position: inside;
}

.post a:not(.kg-bookmark-container) {
  text-decoration: underline;
}

.post a:not(.share__link):not(.kg-bookmark-container):hover {
  color: var(--blue);
}

hr {
  height: 1px;
  margin: 1rem 0;
  background-color: var(--mid-light);
  border: none;
  border-radius: var(--radius-small);
}

blockquote {
  padding: 3rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

blockquote::before,
blockquote::after {
  margin-right: 1px;
  color: var(--blue);
  content: '\00201c';
  opacity: 0.65;
}

blockquote::after {
  margin-left: 1px;
  content: '\00201D';
}

.post > blockquote {
  margin: 1rem 0 2rem;
}

.kg-code-card {
  grid-column: 2 / 5;
  overflow: hidden;
  font-size: var(--small);
}

.kg-code-card code {
  border-radius: var(--radius-small);
}
