/* Post Header */

.post__header-banner {
  position: relative;
  z-index: -1;
  height: 10rem;
  background: var(--mid-light);
  opacity: 0.5;
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.post__header-banner::before,
.post__header-banner::after {
  position: absolute;
  top: 0;
  width: 1rem;
  height: 100%;
  content: '';
  background-color: inherit;
}

.post__header-banner::before {
  left: -1rem;
}

.post__header-banner::after {
  right: -1rem;
}

.post__header-left {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  max-width: 80%;
  margin-top: 2rem;
}

.post__title {
  margin-bottom: 2rem;
  font-weight: 700;
}

.post__excerpt {
  margin-bottom: 2rem;
  font-size: 105%;
  color: var(--text-light);
}

.post__feature-image {
  display: initial;
  width: 100%;
  max-width: var(--md);
  height: 20rem;
  box-shadow: var(--shadow-on-home);
  object-fit: cover;
}

.post__header-right {
  grid-column: 4 / -1;
  grid-row: 1 / -1;
  margin-top: 1rem;
}

/* Post author */
.post__author--container {
  grid-column: 3 / 5;
  display: flex;
  align-items: center;
}
.post__author {
  display: flex;
  align-items: center;
}
.post__author--image {
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem;
  border: 3px solid var(--mid-light);
  border-radius: 50%;
  object-fit: cover;
}

.post__author--name {
  font-size: 105%;
}

.post__date {
  font-size: var(--small);
  font-weight: 100;
  text-transform: uppercase;
}

.post__author--divider {
  height: 3px;
  background-image: linear-gradient(to right, transparent, var(--mid-light));
  flex: 1;
  border-radius: var(--small-radius);
}

.share {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  height: min-content;
  top: calc(50% - 4.5rem);
}

.share__link {
  padding: 0.75rem;
  background-color: var(--mid-light);
  border-radius: 50%;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share__link:not(:last-child) {
  margin-bottom: 1rem;
}

.share__link:hover {
  background-color: var(--mid-dark);
  color: var(--surface);
}

.share__link svg {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: inherit;
  fill: inherit;
}

.share__link:hover svg {
  fill: var(--surface);
}
.copied {
  display: none;
}

.copied-success .copied {
  display: initial;
}

.copied-success .not-copied {
  display: none;
}

/* Toc */
.toc {
  padding: 1rem;
  border-radius: var(--radius-small);
  grid-column: 4 / 5;
}

.toc__content p {
  margin-bottom: 0.5em;
  font-size: var(--small);
}

.post .toc .toc__link {
  line-height: 1.2;
  text-decoration: none;
}

.post .toc .toc__share-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  line-height: 1;
  text-decoration: none;
  border-radius: var(--radius-small);
}
