.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin: 1em 0 0.5em;
  font-weight: 700;
}

figcaption {
  /* text-align: center; */
  text-transform: uppercase;
  font-weight: 100;
  font-size: var(--small);
}
