/* Post Header */
.post__header {
  display: grid;
  padding: 1rem 0 1rem 1rem;
  /* gap: 1rem; */
  margin-bottom: var(--space-after);
  grid-template-columns:
    calc((100% - var(--lg)) / 2) calc((var(--lg)) / 3)
    calc((var(--lg)) / 3) calc((var(--lg)) / 3) 1fr;
  grid-template-rows: auto auto;
}
.post__header-banner {
  position: relative;
  z-index: -1;
  height: 10rem;
  background: var(--base-200);
  opacity: 0.5;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
}

.post__header-banner::before,
.post__header-banner::after {
  position: absolute;
  top: 0;
  width: 1rem;
  height: 100%;
  content: '';
  background-color: inherit;
}

.post__header-banner::before {
  left: -1rem;
}

.post__header-banner::after {
  right: -1rem;
}

.post__header-left {
  grid-column: 2 / 4;
  grid-row: 1 / -1;

  max-width: 80%;
  margin-top: 2rem;
}

.post__title {
  font-weight: 700;
  margin-bottom: 2rem;
}

.post__excerpt {
  font-size: 105%;
  color: var(--base-500);
  margin-bottom: 2rem;
}

.post__feature-image {
  width: 100%;
  height: 20rem;
  box-shadow: var(--shadow-on-home);
  grid-column: 4 / -1;
  object-fit: cover;
}

.post__header-right {
  grid-column: 4 / -1;
  grid-row: 1 / -1;
  margin-top: 1rem;
}

/* Post author */
.post__author {
  display: flex;
  align-items: center;
}
.post__author--image {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--pink);
  margin-right: 0.75rem;
}

.post__author--name {
  font-size: 105%;
}

.post__date {
  font-size: var(--small);
  text-transform: uppercase;
  font-weight: 100;
}

/* Post Body */
.post__grid {
  display: grid;
  grid-template-columns: calc((100% - var(--lg)) / 2) minmax(auto, 600px) 1fr 1fr;
  grid-template-columns:
    calc((100% - var(--lg)) / 2) calc((var(--lg)) / 3)
    calc((var(--lg)) / 3) calc((var(--lg)) / 3) 1fr;
  margin-bottom: var(--space-after);
}

.post__item {
}

.post__grid > * {
  grid-column: 2 / 4;
  margin-bottom: 1rem;
}

.toc {
  height: min-content;
  border: 1px solid var(--base-200);
  top: 1rem;
  /* margin-left: 1rem; */
  padding: 1rem;
  background-color: var(--base-100);
}

.toc > a {
  display: block;
  width: max-content;
}

.toc-h1 {
  font-weight: 700;
}

.toc-h2 {
  padding-left: 0.5em;
}
.toc-h3 {
  padding-left: 1em;
}
.toc-h4 {
  padding-left: 1.5em;
}
