:root {
  /* Spacing */
  --space-after: 3rem;
  --icon: 0.25em;

  /* Typography */
  --f-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --h6: 1.15rem;
  --p: 1rem;
  --small: 0.8rem;
  --letter-spacing: 2px;

  /* Breakpoints */
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

  --sm: 36rem;
  --md: 48rem;
  --lg: 62rem;
  --xl: 75rem;
  --xxl: 87.5rem;

  /* Radius  */
  --radius: 1em;
  --radius-small: 4px;

  /* Transition */
  --transition: 0.3s;

  /* Color */
  /* Light Mode Default */

  --text-light: hsl(217, 13%, 17%);
  --text: hsl(222, 16%, 11%);
  --text-dark: hsl(222, 17%, 6%);

  --surface-light: hsl(210, 40%, 100%);
  --surface: hsl(210, 40%, 98%);
  --surface-dark: hsl(210, 40%, 96%);

  --mid-light: hsl(214, 32%, 91%);
  --mid: #65758b;
  --mid-dark: #475569;

  --pink: hsl(329, 69%, 43%);
  --blue: #1167df;

  --shadow-on-home: 0.7px 0.7px 2.2px rgba(15, 23, 42, 0.02),
    1.7px 1.7px 5.3px rgba(15, 23, 42, 0.028),
    3.1px 3.1px 10px rgba(15, 23, 42, 0.035),
    5.6px 5.6px 17.9px rgba(15, 23, 42, 0.042),
    10.4px 10.4px 33.4px rgba(15, 23, 42, 0.05),
    25px 25px 80px rgba(15, 23, 42, 0.07);

  --shadow-on-home-lg: 0.8px 1.1px 2.2px rgba(15, 23, 42, 0.02),
    2px 2.7px 5.3px rgba(15, 23, 42, 0.028),
    3.8px 5px 10px rgba(15, 23, 42, 0.035),
    6.7px 8.9px 17.9px rgba(15, 23, 42, 0.042),
    12.5px 16.7px 33.4px rgba(15, 23, 42, 0.05),
    30px 40px 80px rgba(15, 23, 42, 0.07);

  @media (prefers-color-scheme: dark) {
    --mid-light: #334155;
    --mid: #65758b;
    --mid-dark: #94a3b8;

    --surface-light: hsl(217, 13%, 17%);
    --surface: hsl(222, 16%, 11%);
    --surface-dark: hsl(222, 17%, 6%);

    --text-light: hsl(210, 40%, 100%);
    --text: #f8fafc;
    --text-dark: #f1f5f9;

    --pink: hsl(329, 69%, 73%);
    --blue: hsl(215, 86%, 77%);

    --shadow-on-home: 0.7px 0.7px 2.2px rgba(0, 0, 0, 0.02),
      1.7px 1.7px 5.3px rgba(0, 0, 0, 0.028),
      3.1px 3.1px 10px rgba(0, 0, 0, 0.035),
      5.6px 5.6px 17.9px rgba(0, 0, 0, 0.042),
      10.4px 10.4px 33.4px rgba(0, 0, 0, 0.05),
      25px 25px 80px rgba(0, 0, 0, 0.07);

    --shadow-on-home-lg: 0.8px 1.1px 2.2px rgba(0, 0, 0, 0.02),
      2px 2.7px 5.3px rgba(0, 0, 0, 0.028), 3.8px 5px 10px rgba(0, 0, 0, 0.035),
      6.7px 8.9px 17.9px rgba(0, 0, 0, 0.042),
      12.5px 16.7px 33.4px rgba(0, 0, 0, 0.05),
      30px 40px 80px rgba(0, 0, 0, 0.07);
  }
}
